# Q1: Write a python program to scrape data for “Data Analyst” Job position in “Bangalore” location. You
have to scrape the job-title, job-location, company_name, experience_required. You have to scrape first 10
jobs data.
This task will be done in following steps:
1. First get the webpage https://www.naukri.com/
2. Enter “Data Analyst” in “Skill, Designations, Companies” field and enter “Bangalore” in “enter the
location” field.
3. Then click the search button.
4. Then scrape the data for the first 10 jobs results you get.
5. Finally create a dataframe of the scraped data.

In [ ]:
!pip install selenium

In [ ]:
import selenium
import pandas as pd
from selenium import webdriver
import warnings
warnings.filterwarnings('ignore')
from selenium.common.exceptions import StaleElementReferenceException,NoSuchElementException
from selenium.webdriver.common.by import By
import time

In [ ]:
# Lets first connect to the driver
driver=webdriver.Chrome(r"C:\Users\User\Downloads\chromedriver_win32 (1)\chromedriver.exe")

# Git Website
driver.get("https://www.naukri.com/")

In [ ]:
designation=driver.find_element(By.CLASS_NAME,"suggestor-input ")
designation.send_keys('Data Analyst')

location=driver.find_element(By.XPATH,"/html/body/div[1]/div[6]/div/div/div[5]/div/div/div/input")
location.send_keys('Bangalore')

search=driver.find_element(By.CLASS_NAME,"qsbSubmit")
search.click()

In [ ]:
job_title = []
job_location = []
company_name = []
experience_required = []

In [ ]:
# scraping Job Title from the given Page
title_tags=driver.find_elements(By.XPATH,'//a[@class="title fw500 ellipsis"]')
for i in title_tags[0:10]:
    title=i.text
    job_title.append(title)
    
    
# scraping Job Location from the given page
location_tags=driver.find_elements(By.XPATH,"//li[@class='fleft grey-text br2 placeHolderLi location']")
for i in location_tags[0:10]:
    location=i.text
    job_location.append(location) 
    
    
# scraping Job company from the given page
company_tags=driver.find_elements(By.XPATH,'//a[@class="subTitle ellipsis fleft"]')
for i in company_tags[0:10]:
    company=i.text
    company_name.append(company)    
    
    
# scraping Job experience from the given page
experience_tags=driver.find_elements(By.XPATH,"//li[@class='fleft grey-text br2 placeHolderLi experience']//span")
for i in experience_tags[0:10]:
    experience=i.text
    experience_required.append(experience)

In [ ]:
print(len(job_title),len(job_location),len(company_name),len(experience_required))

In [ ]:
#Creating data frame
df=pd.DataFrame({'job_title':job_title,'job_location':job_location,'company_name':company_name,'experience_required':experience_required})
df

# Q2: Write a python program to scrape data for “Data Scientist” Job position in “Bangalore” location. You
have to scrape the job-title, job-location, company_name. You have to scrape first 10 jobs data.
This task will be done in following steps:
1. First get the webpage https://www.naukri.com/
2. Enter “Data Scientist” in “Skill, Designations, Companies” field and enter “Bangalore” in “enter the
location” field.
3. Then click the search button.
4. Then scrape the data for the first 10 jobs results you get.
5. Finally create a dataframe of the scraped data.

In [ ]:
# Les first connect tot he driver
driver=webdriver.Chrome(r"C:\Users\User\Downloads\chromedriver_win32 (1)\chromedriver.exe")

driver.get("https://www.naukri.com/")

In [ ]:
designation=driver.find_element(By.CLASS_NAME,"suggestor-input ")
designation.send_keys('Data Scientist')


location=driver.find_element(By.XPATH,"/html/body/div[1]/div[6]/div/div/div[5]/div/div/div/input")
location.send_keys('Bangalore')


search=driver.find_element(By.CLASS_NAME,"qsbSubmit")
search.click()

In [ ]:
job_title = []
job_location = []
company_name = []

In [ ]:
# scraping Job Title from the given Page
title_tags=driver.find_elements(By.XPATH,'//a[@class="title fw500 ellipsis"]')
for i in title_tags[0:10]:
    title=i.text
    job_title.append(title)
    
    
# scraping Location from the given Page
location_tags=driver.find_elements(By.XPATH,'//li[@class="fleft grey-text br2 placeHolderLi location"]')
for i in location_tags[0:10]:
    location=i.text
    job_location.append(location)
    
# scraping Location from the given Page
company_tags=driver.find_elements(By.XPATH,'//a[@class="subTitle ellipsis fleft"]')
for i in company_tags[0:10]:
    company=i.text
    company_name.append(company)

In [ ]:
print(len(job_title),len(job_location),len(company_name))

In [ ]:
#Creating data frame
df=pd.DataFrame({'job_title':job_title,'job_location':job_location,'company_name':company_name})
df

# Q3: In this question you have to scrape data using the filters available on the webpage as shown below:
You have to use the location and salary filter.
You have to scrape data for “Data Scientist” designation for first 10 job results.
You have to scrape the job-title, job-location, company name, experience required.
The location filter to be used is “Delhi/NCR”. The salary filter to be used is “3-6” lakhs
The task will be done as shown in the below steps:
1. first get the webpage https://www.naukri.com/
2. Enter “Data Scientist” in “Skill, Designations, and Companies” field.
3. Then click the search button.
4. Then apply the location filter and salary filter by checking the respective boxes
5. Then scrape the data for the first 10 jobs results you get.
6. Finally create a dataframe of the scraped data.

In [ ]:
# Les first connect tot he driver
driver=webdriver.Chrome(r"C:\Users\User\Downloads\chromedriver_win32 (1)\chromedriver.exe")

driver.get("https://www.naukri.com/")

designation=driver.find_element(By.CLASS_NAME,"suggestor-input ")
designation.send_keys('Data Scientist')

search=driver.find_element(By.CLASS_NAME,"qsbSubmit")
search.click()

In [ ]:
# Ticking on Delhi/NCR 
driver.find_element(By.XPATH,"/html/body/div[1]/div[4]/div/section[1]/div[2]/div[5]/div[2]/div[3]/label/p/span[1]").click()

# Ticking on 3-6 lakhs Salary
driver.find_element(By.XPATH,"/html/body/div[1]/div[4]/div/section[1]/div[2]/div[6]/div[2]/div[2]/label/p/span[1]").click()

In [ ]:
job_title = []
job_location = []
company_name= []
experience_required = []

In [ ]:
# scraping Job Title from the given Page
title_tags=driver.find_elements(By.XPATH,'//a[@class="title fw500 ellipsis"]')
for i in title_tags[0:10]:
    title=i.text
    job_title.append(title)
    
    
# scraping Job Location from the given page
location_tags=driver.find_elements(By.XPATH,'//li[@class="fleft grey-text br2 placeHolderLi location"]')
for i in location_tags[0:10]:
    location=i.text
    job_location.append(location) 
    
# scraping Job company from the given page
company_tags=driver.find_elements(By.XPATH,'//a[@class="subTitle ellipsis fleft"]')
for i in company_tags[0:10]:
    company=i.text
    company_name.append(company) 
    
# scraping Job experience from the given page
experience_tags=driver.find_elements(By.XPATH,'//li[@class="fleft grey-text br2 placeHolderLi experience"]')
for i in experience_tags[0:10]:
    experience=i.text
    experience_required.append(experience)

In [ ]:
print(len(job_title),len(job_location),len(company_name),len(experience_required))

In [ ]:
#Creating data frame
df=pd.DataFrame({'job_title':job_title,'job_location':job_location,'company_name':company_name,'experience_required':experience_required})
df

# Q4: Scrape data of first 100 sunglasses listings on flipkart.com. You have to scrape four attributes:
1. Brand
2. Product Description
3. Price
The attributes which you have to scrape is ticked marked in the below image.
To scrape the data you have to go through following steps:
1. Go to Flipkart webpage by url : https://www.flipkart.com/
2. Enter “sunglasses” in the search field where “search for products, brands and more” is written and
click the search icon
3. After that you will reach to the page having a lot of sunglasses. From this page you can scrap the
required data as usual.
4. After scraping data from the first page, go to the “Next” Button at the bottom other page , then
click on it.
5. Now scrape data from this page as usual
6. Repeat this until you get data for 100 sunglasses.

In [ ]:
# Les first connect tot he driver
driver=webdriver.Chrome(r"C:\Users\User\Downloads\chromedriver_win32 (1)\chromedriver.exe")

driver.get("https://flipkart.com/")

In [ ]:
designation=driver.find_element(By.CLASS_NAME,"_3704LK")
designation.send_keys('sunglasses')

search=driver.find_element(By.CLASS_NAME,"L0Z3Pu")
search.click()

In [ ]:
Brands = []
Product_Description = []
Price = []

In [ ]:
driver.maximize_window()

In [ ]:
# Scraping URl of 100 Sunglasses
URL=[]
for i in range(0,3):
    Sunglasses_url=driver.find_elements(By.XPATH,'//a[@class="_2UzuFa"]')
    for i in Sunglasses_url:
        URL.append(i.get_attribute('href'))
    # Clicking on NEXT button at end of page
    driver.find_element(By.XPATH,'//a[@class="_1LKTO3"]').click()
    time.sleep(4)
    
URL[:100]

In [ ]:
Brand = []
Product_Description = []
Price = []

In [ ]:
for i in URL[:100]:
    driver.get(i)
    try:
        brand=driver.find_element(By.XPATH,"//span[@class='G6XhRU']").text
        Brand.append(brand)
        description=driver.find_element(By.XPATH,"//span[@class='B_NuCI']").text
        Product_Description.append(description)
        price=driver.find_element(By.XPATH,"//div[@class='_30jeq3 _16Jk6d']").text
        Price.append(price)
      
    except NoSuchElementException:
        Brand.append("NaN")
        Product_Description.append("NaN")
        Price.append("NaN")

In [ ]:
#Creating data frame
df=pd.DataFrame({'Brand':Brand,'Product_Description':Product_Description,'Price':Price})
df

# Q5: Scrape 100 reviews data from flipkart.com for iphone11 phone.
This task will be done in following steps:
1. First get the webpage https://www.flipkart.com/
2. Enter “iphone 11” in “Search” field .
3. Then click the search button.
As shown in the above page you have to scrape the tick marked attributes.These are:
1. Rating
2. Review summary
3. Full review
4. You have to scrape this data for first 100 reviews.

In [ ]:
# Les first connect tot he driver
driver=webdriver.Chrome(r"C:\Users\User\Downloads\chromedriver_win32 (1)\chromedriver.exe")

driver.get("https://www.flipkart.com/")

In [ ]:
products=driver.find_element(By.CLASS_NAME,"_3704LK")
products.send_keys('iphone 11')

search=driver.find_element(By.CLASS_NAME,"L0Z3Pu")
search.click()

In [ ]:
#running through loop to scrap 10 pages 
rating=[]
short_review=[]
full_review=[]
for i in range(1,20):
    for a in driver.find_elements(By.XPATH,'//div[@class="_3LWZlK _1BLPMq"]'): # ratings
        rating.append(a.text.split("\n")[0])
    for b in driver.find_elements(By.XPATH,"//p[@class='_2-N8zT']"): #short_review
        short_review.append(b.text)
    for c in driver.find_elements(By.XPATH,"//div[@class='t-ZTKy']"): # full review
        full_review.append(c.text.replace("\n"," "))
    time.sleep(3)   
    url="https://www.flipkart.com/apple-iphone-11-black-64-gb-includes-earpods-power-adapter/product-reviews/itm0f37c2240b217?pid=MOBFKCTSVZAXUHGR&lid=LSTMOBFKCTSVZAXUHGREPBFGI&marketplace=FLIPKART&page="+str(i)
    driver.get(url)
    time.sleep(3)

In [ ]:
#checking the length
print(len(rating),len(short_review),len(full_review))

In [ ]:
#creating dataframe
iphone_df=pd.DataFrame({})
iphone_df['Rating']=rating[:100]
iphone_df[' Review summary']=short_review[:100]
iphone_df[' Full review']=full_review[:100]
iphone_df[:100]

# Q6: Scrape data for first 100 sneakers you find when you visit flipkart.com and search for “sneakers” in the
search field.
You have to scrape 4 attributes of each sneaker:
1. Brand
2. Product Description
3. Price
As shown in the image, you have to scrape the tick marked attributes.

In [ ]:
# Les first connect tot he driver
driver=webdriver.Chrome(r"C:\Users\User\Downloads\chromedriver_win32 (1)\chromedriver.exe")

driver.get("https://www.flipkart.com ")

In [ ]:
product=driver.find_element(By.CLASS_NAME,"_3704LK")
product.send_keys('sneakers')

In [ ]:
search=driver.find_element(By.CLASS_NAME,"_34RNph")
search.click()

In [ ]:
Brands = []
Product_Description = []
Price = []

In [ ]:
#capturing the data and navigating through next pages

#create empty lists
brand_list=[]
description_list=[]
price_list=[]

#there are 40 sunglasses on a single page & we need 100 records hence use a for loop ranging from 1 to 4
for i in range(1,4):
    for p in driver.find_elements(By.XPATH,'//div[@class="_2WkVRV"]'): # brand
        brand_list.append(p.text)
    for q in driver.find_elements(By.XPATH,'//a[@class="IRpwTa"]'): # product description
        if q.text is None:
            description_list.append('--')  # for some products description is missing
        else:
            description_list.append(q.text)
    for r in driver.find_elements(By.XPATH,"//div[@class='_30jeq3']"): #price
        price_list.append(r.text)
        time.sleep(3)    # allow some time for the driver to gather info
    #url for the next page +str as the url changes for every page and i is from 1 to 4 it will take 3 pages
    url = 'https://www.flipkart.com/search?q=sneakers&otracker=search&otracker1=search&marketplace=FLIPKART&as-show=on&as=off&page='+str(i)
    driver.get(url)

In [ ]:
#checking the list sizes,the description list contains various data
print(len(brand_list),len(description_list),len(price_list))

In [ ]:
#creating dataframe
df=pd.DataFrame({})
df['Brand']=brand_list[0:100]
df['Description']=description_list[0:100]
df['Price']=price_list[0:100]
df

# Q7: Go to the link - https://www.myntra.com/shoes
Set second Price filter and Color filter to “Black”, as shown in the below image.
And then scrape First 100 shoes data you get. The data should include “Brand” of the shoes , Short Shoe
description, price of the shoe as shown in the below image.

In [ ]:
# Les first connect tot he driver
driver=webdriver.Chrome(r"C:\Users\User\Downloads\chromedriver_win32 (1)\chromedriver.exe")

driver.get('https://www.myntra.com/shoes')

In [ ]:
#applying color filter
color_filter=driver.find_element(By.XPATH,"//label[@class='common-customCheckbox']")
color_filter.click()

In [ ]:
price_filter=driver.find_element(By.XPATH,'/html/body/div[2]/div/div[1]/main/div[3]/div[1]/section/div/div[5]/ul/li[2]/label')
price_filter.click()

In [ ]:
#running through a loop

# step 1: create empty list
brand=[]
description=[]
price=[]

for i in range(0,3):
    #brand
    for x in driver.find_elements(By.XPATH,'//h3[@class="product-brand"]'):
           brand.append(x.text)
    
    #description
    for y in driver.find_elements(By.XPATH,"//h4[@class='product-product']"):
        description.append(y.text)
        
    #price
    for z in driver.find_elements(By.XPATH,"//div[@class='product-price']"):
        price.append(z.text)
    time.sleep(5)
    
    # click on next button
    
    next_button=driver.find_element(By.XPATH,"//li[@class='pagination-next']")
    next_button.click()
    time.sleep(3)

In [ ]:
#create dataframe
shoe_df=pd.DataFrame({})
shoe_df['Brand']=brand
shoe_df['Description']=description
shoe_df['Price in Rupees']=price
shoe_df[:100]

# Q8: Go to webpage https://www.amazon.in/
Enter “Laptop” in the search field and then click the search icon.
Then set CPU Type filter to “Intel Core i7” as shown in the below image:
After setting the filters scrape first 10 laptops data. You have to scrape 3 attributesfor each laptop:
1. Title
2. Ratings
3. Price

In [ ]:
# Les first connect tot he driver
driver=webdriver.Chrome(r"C:\Users\User\Downloads\chromedriver_win32 (1)\chromedriver.exe")

driver.get("https://www.amazon.in/")

In [ ]:
#typing as laptop in search bar
search_product=driver.find_element(By.ID,"twotabsearchtextbox")
search_product.send_keys("laptop")

#click on the search button
search_button=driver.find_element(By.ID,"nav-search-submit-button")
search_button.click()

In [ ]:
#click the checkbox for filter intel core i7
core7=driver.find_element(By.XPATH,"/html/body/div[1]/div[2]/div[1]/div[2]/div/div[3]/span/div[1]/div/div/div[5]/ul[4]/li[10]/span")
core7.click()

In [ ]:
#title of the laptops
title=driver.find_elements(By.XPATH,"//span[@class='a-size-medium a-color-base a-text-normal']")
title_list=[]
for i in title:
    title_list.append(i.text)
title_list[0:2]

#prices of the laptops
price=driver.find_elements(By.XPATH,"//span[@class='a-price-whole']")
price_list=[]
for i in price:
    price_list.append(i.text)
price_list[0:2]

#ratings 
rating=driver.find_elements(By.XPATH,"//a[@class='a-popover-trigger a-declarative']")
rating_list=[]
for i in rating:
    if i.text is None:
        rating_list.append("--")
    else:
        rating_list.append(i.get_attribute("text"))
rating_list[0:3]

In [ ]:
print(len(rating_list),len(price_list),len(title_list))

In [ ]:
laptop_df=pd.DataFrame({})
laptop_df['Title']=title_list[0:10]
laptop_df['Rating']=rating_list[0:10]
laptop_df['Price']=price_list[0:10]
laptop_df

# Q9: Write a python program to scrape data for first 10 job results for Data Scientist Designation in Noida
location. You have to scrape company name, No. of days ago when job was posted, Rating of the company.
This task will be done in following steps:
1. First get the webpage https://www.ambitionbox.com/
2. Click on the Job option as shown in the image.
3. After reaching to the next webpage, In place of “Search by Designations, Companies, Skills” enter
“Data Scientist” and click on search button.
4. You will reach to the following web page click on location and in place of “Search location” enter
“Noida” and select location “Noida”.
5. Then scrape the data for the first 10 jobs results you get on the above shown page.
6. Finally create a dataframe of the scraped data.

In [ ]:
# Lets first connect to the driver
driver=webdriver.Chrome(r"C:\Users\User\Downloads\chromedriver_win32 (1)\chromedriver.exe")

# connect to webpage:
driver.get("https://www.ambitionbox.com/")

In [ ]:
job_tab=driver.find_element(By.XPATH,"/html/body/div/div/div/div[1]/header/nav/ul/li[5]").click()

In [ ]:
designation=driver.find_element(By.XPATH,'//*[@id="jobs-typeahead"]/span/input')
designation.send_keys('Data Scientist')

In [ ]:
submit=driver.find_element(By.XPATH,'//*[@id="jobs"]/div[2]/div[1]/div[1]/div/div/div/button')
submit.click()

In [ ]:
location_btn=driver.find_element(By.XPATH,'//*[@id="filters-row"]/div/div/div[2]/div[1]')
location_btn.click()

In [ ]:
search=driver.find_element(By.XPATH,'//*[@id="filters-row"]/div/div/div[2]/div[2]/div/div[2]/input')
search.send_keys('Noida')

In [ ]:
company=[]
date =[]
company_rating=[]

# Scraping Data from Ambition Box

In [ ]:
time.sleep(3)
company_name=driver.find_elements(By.XPATH,'//p[@class="company body-medium"]')
time.sleep(5)

Posted_Date=driver.find_elements(By.XPATH,'//*[@id="jobsList"]/div[2]/div[2]/div/div/div/div[3]/span[1]')
time.sleep(5)

Rating=driver.find_elements(By.XPATH,'//a[@class="rating rating-4"]')
time.sleep(5)

In [ ]:
for i in company_name:
    a=i.text
    company.append(a)
    time.sleep(2)
for i in Posted_Date:
    b=i.text
    date.append(b)
    time.sleep(2)
for i in Rating:
    c=i.text
    company_rating.append(c)
    time.sleep(2)

In [ ]:
print(len(company),len(date),len(company_rating))

In [ ]:
Data_scientist_df=pd.DataFrame({})
Data_scientist_df['COMPANY']=company[:10]
Data_scientist_df['Posted Ago']=date[:10]
Data_scientist_df['Rating']=company_rating[:10]
Data_scientist_df

# Q10: Write a python program to scrape the salary data for Data Scientist designation.
You have to scrape Company name, Number of salaries, Average salary, Minsalary, Max Salary.
The above task will be, done as shown in the below steps:
1. First get the webpage https://www.ambitionbox.com/
2. Click on the salaries option as shown in the image.
3. After reaching to the following webpage, In place of “Search Job Profile” enters “Data Scientist” and
then click on “Data Scientist”.
You have to scrape the data ticked in the above image.
4. Scrape the data for the first 10 companies. Scrape the company name, total salary record, average
salary, minimum salary, maximum salary, experience required.
5. Store the data in a dataframe.

In [15]:
import selenium
import pandas as pd
from selenium import webdriver
import warnings
from selenium.webdriver.support.ui import Select
warnings.filterwarnings('ignore')
from selenium.common.exceptions import StaleElementReferenceException,NoSuchElementException
from selenium.webdriver.common.by import By
import time

In [16]:
# Lets first connect to the driver
driver=webdriver.Chrome(r"C:\Users\User\Downloads\chromedriver_win32 (1)\chromedriver.exe")

# connect to webpage:
driver.get("https://www.ambitionbox.com/")

In [17]:
salary_click=driver.find_element(By.XPATH,'//li[@class="navItem"][3]')
salary_click.click()
time.sleep(2)

In [18]:
designation=driver.find_element(By.XPATH,'//*[@id="jobProfileSearchbox"]')
designation.send_keys('Data Scientist')
time.sleep(2)
submit=driver.find_element(By.XPATH,'//*[@id="salaries"]/main/section[1]/div[2]/div[1]/span/div/div/div[1]/div')
submit.click()
time.sleep(3)

In [19]:
company_name = []
Number_of_salaries=[]
Average_salary=[]
Min_salary=[]
Max_salary=[]

In [20]:
companies=driver.find_elements(By.XPATH,'//div[@class="company-info"]//a')
for i in companies:
    company_name.append(i.text)

In [21]:
salaries=driver.find_elements(By.XPATH,'//span[@class="datapoints"]')
for i in salaries:
    Number_of_salaries.append(i.text.replace('based on ',''))

In [22]:
avg_salary=driver.find_elements(By.XPATH,'//p[@class="averageCtc"]')
for i in avg_salary:
    Average_salary.append(i.text.strip('\nData Scientist salary'))

In [23]:
min_salaries=driver.find_elements(By.XPATH,'//div[@class="salary-values"]/div[1]')
for i in min_salaries:
    Min_salary.append(i.text)

In [24]:
max_salaries=driver.find_elements(By.XPATH,'//div[@class="salary-values"]/div[2]')
for i in max_salaries:
    Max_salary.append(i.text)

In [25]:
print(len(company_name),len(Number_of_salaries),len( Average_salary),len(Min_salary),len(Max_salary))

10 10 10 10 10

In [26]:
#Creating data frame
df=pd.DataFrame({'company_name':company_name,'Number_of_salaries':Number_of_salaries,'Average_salary':Average_salary,'Min_salary':Min_salary,'Max_salary':Max_salary})
df

,company_name,Number_of_salaries,Average_salary,Min_salary,Max_salary
0,Walmart\nData Scientist Salary,(23 salaries),₹ 32.3L,₹ 25.0L,₹ 45.0L
1,Ab Inbev\nData Scientist Salary,(57 salaries),₹ 19.9L,₹ 15.0L,₹ 26.0L
2,Optum\nData Scientist Salary,(49 salaries),₹ 16.4L,₹ 11.0L,₹ 22.6L
3,ZS\nData Scientist Salary,(34 salaries),₹ 15.8L,₹ 11.0L,₹ 22.0L
4,Fractal Analytics\nData Scientist Salary,(115 salaries),₹ 15.4L,₹ 9.0L,₹ 23.0L
5,Tiger Analytics\nData Scientist Salary,(68 salaries),₹ 14.7L,₹ 9.0L,₹ 20.0L
6,Sigmoid Analytics\nData Scientist Salary,(10 salaries),₹ 14.7L,₹ 12.7L,₹ 19.7L
7,Legato Health Technologies\nData Scientist Salary,(11 salaries),₹ 14.5L,₹ 11.0L,₹ 20.0L
8,HSBC\nData Scientist Salary,(10 salaries),₹ 14.0L,₹ 12.0L,₹ 18.0L
9,Tredence\nData Scientist Salary,(14 salaries),₹ 13.9L,₹ 8.8L,₹ 17.5L